annotated-types
anyio
certifi
charset-normalizer
click
colorama
fastapi
h11
idna
iniconfig
joblib
markdown-it-py
mdurl
numpy
packaging
pluggy
pydantic
pydantic_core
Pygments
pytest
python-multipart
requests
rich
scikit-learn
scipy
shellingham
sniffio
starlette
threadpoolctl
typer
typing_extensions
urllib3
uvicorn
